*{font-family: 'Kalam', cursive;
}

.navbar {
 
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
}



.carousel-inner .item img{width: 100%;
    height: 550px;
    object-fit: cover;
  animation: zoom 10s;}


  @keyframes zoom{
    from{
        transform: scale(1,1);
    }
    to{
        transform:scale(1.5,1.5);
    }


  }
  .carousel-caption{
      margin-bottom:200px;


  }
  .carousel-caption h1{font-size:60px;
    text-shadow:3px 3px grey ;

  }
  .carousel-caption p{
      font-size:25px;
      color:red;
  }

        
        